{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="account-container">
        <div class="account">
            <!-- Horizontal Navigation -->
            <div class="container navigation-container">
                <nav class="navigation-buttons text">
                    <a href="#">nutrition</a>
                    <a href="#">training</a>
                    <a href="#">recovery</a>
                    <a href="#">videos</a>
                    <a href="#">Profile</a>
                    <a href="#">Settings</a>
                    <a href="#">Logout</a>
                </nav>
            </div>

            <!-- Account Content -->
            <div class="account-content">
                <h2 class="heading-title">Account Overview</h2>
                    <p class="text">Welcome to your account dashboard. Here you can manage your profile, settings, and
                        more.
                    </p>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique non odit
                        blanditiis iusto maxime consectetur eligendi molestiae quod quia, quos, facere consequuntur!
                        Veniam vero deserunt, adipisci nam nostrum ab amet voluptas deleniti! Quod incidunt aut omnis
                        repellendus deleniti doloremque, sunt, nihil totam libero sequi ad aliquid iusto officia, quis
                        modi voluptates explicabo error voluptas. Similique accusantium debitis voluptatibus optio alias
                        officiis sapiente, quibusdam magni quisquam. Adipisci ut placeat, temporibus voluptate,
                        voluptates quod nihil rem quia ipsam alias earum, corporis voluptas obcaecati incidunt sed.
                        Voluptatem, ut rem atque, sunt quia a qui dolor explicabo quidem voluptate in. Molestiae nulla
                        cum error.
                    </p>
            </div>
            <div class="account-content">
                <div class="split-container">
                    <div>
                        <img src="{% static 'assets/images/boxer.jpg' %}" alt="">
                    </div>
                    <div class="split-text-content text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ipsam cumque amet ipsa culpa
                            accusamus porro! Voluptatem, porro consequuntur. Non nobis eligendi facilis tenetur numquam,
                            similique hic a nisi atque!
                        </p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo aliquam magni atque sint
                            recusandae perspiciatis, ut, nostrum molestias modi quos ipsa eligendi porro quas et
                            laboriosam. Tenetur enim delectus maiores.
                        </p>
                    </div>
                </div>
            </div>
            <div class="account-content">
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique non odit blanditiis
                    iusto maxime consectetur eligendi molestiae quod quia, quos, facere consequuntur! Veniam vero
                    deserunt, adipisci nam nostrum ab amet voluptas deleniti! Quod incidunt aut omnis repellendus
                    deleniti doloremque, sunt, nihil totam libero sequi ad aliquid iusto officia, quis modi voluptates
                    explicabo error voluptas. Similique accusantium debitis voluptatibus optio alias officiis sapiente,
                    quibusdam magni quisquam. Adipisci ut placeat, temporibus voluptate, voluptates quod nihil rem quia
                    ipsam alias earum, corporis voluptas obcaecati incidunt sed. Voluptatem, ut rem atque, sunt quia a
                    qui dolor explicabo quidem voluptate in. Molestiae nulla cum error.
                </p>
            </div>
            <div>
                <h2 class="secondary-heading-title">Best practices</h2>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, recusandae.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, perspiciatis culpa!</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}