{% extends 'common/base.html' %}

{% block content %}
    <div class="article-main">
        <div class="article-container">
            <article class="articles__article-card">
                <div class="articles__article-card__bottom">
                    <div class="articles__article-card__bottom__date-title">
                        <div class="article-image">
                            <img src="assets/images/stamina.jpg" alt="Stamina">
                        </div>
                        <time class="articles__article-card__bottom__date-title__date letter-spacing"
                              datetime="2019-02-02">FEBRUARY 2ND, 2019
                        </time>
                        <h2 class="articles__article-card__bottom__date-title__title">
                            CAN STRENGTH IMPROVE STAMINA?
                        </h2>
                    </div>
                </div>
            </article>

            <article class="articles__article-card">
                <div class="articles__article-card__bottom">
                    <div class="articles__article-card__bottom__date-title">
                        <div class="article-image">
                            <img src="assets/images/stretch.webp" alt="Stamina">
                        </div>
                        <time class="articles__article-card__bottom__date-title__date letter-spacing"
                              datetime="2019-02-02">FEBRUARY 2ND, 2019
                        </time>
                        <h2 class="articles__article-card__bottom__date-title__title">
                            THE STRETCH SHORTENING CYCLE EXPLAINED…
                        </h2>
                    </div>
                </div>
            </article>

            <article class="articles__article-card">
                <div class="articles__article-card__bottom">
                    <div class="articles__article-card__bottom__date-title">
                        <div class="article-image">
                            <img src="assets/images/pexels-pavel-danilyuk-6296012.jpg" alt="Stamina">
                        </div>
                        <time class="articles__article-card__bottom__date-title__date letter-spacing"
                              datetime="2019-02-02">FEBRUARY 2ND, 2019
                        </time>
                        <h2 class="articles__article-card__bottom__date-title__title"> EPIC ROAD TO MYTIC
                            CHAMPIONSHIP!</h2>
                    </div>
                </div>
            </article>
        </div>

        <div class="article-container">
            <article class="articles__article-card">
                <div class="articles__article-card__bottom">
                    <div class="articles__article-card__bottom__date-title">
                        <div class="article-image">
                            <img src="assets/images/pexels-rdne-8612492.jpg" alt="Stamina">
                        </div>
                        <time class="articles__article-card__bottom__date-title__date letter-spacing"
                              datetime="2019-02-02">FEBRUARY 2ND, 2019
                        </time>
                        <h2 class="articles__article-card__bottom__date-title__title"> EPIC READS IS HEADED TO
                            YALLWEST</h2>
                    </div>
                </div>
            </article>

            <article class="articles__article-card">
                <div class="articles__article-card__bottom">
                    <div class="articles__article-card__bottom__date-title">
                        <div class="article-image">
                            <img src="assets/images/stamina.jpg" alt="Stamina">
                        </div>
                        <time class="articles__article-card__bottom__date-title__date letter-spacing"
                              datetime="2019-02-02">FEBRUARY 2ND, 2019
                        </time>
                        <h2 class="articles__article-card__bottom__date-title__title"> EPIC READS IS HEADED TO YALLWEST
                            2019!
                        </h2>
                    </div>
                </div>
            </article>

            <article class="articles__article-card">
                <div class="articles__article-card__bottom">
                    <div class="articles__article-card__bottom__date-title">
                        <div class="article-image">
                            <img src="assets/images/stamina.jpg" alt="Stamina">
                        </div>
                        <time class="articles__article-card__bottom__date-title__date letter-spacing"
                              datetime="2019-02-02">FEBRUARY 2ND, 2019
                        </time>
                        <h2 class="articles__article-card__bottom__date-title__title"> EPIC READS IS HEADED TO YALLWEST
                            2019!
                        </h2>
                    </div>
                </div>
            </article>
        </div>
    </div>
{% endblock %}

