{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
    <div class="coaching-main">
        <div class="coaching-container">
            <h2 class="secondary-heading-title">ONLINE COACHING & MENTORSHIP</h2>
        </div>
        <div class="coaching-container">
            <div class="coaching-inner text">
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, possimus!</p>
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, ipsum nostrum. Quia eveniet velit sint!</p>
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia asperiores excepturi deserunt ab maxime beatae magnam sint reprehenderit dolor sapiente!</p>
            </div>
            <div class="coaching-inner text">
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, repellat?</p>
                <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit sed qui vero illum corporis minus.</p>
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam doloribus esse voluptatum natus id omnis tempora modi iure porro architecto nulla, incidunt dicta? Veniam, quibusdam quia quisquam ad corrupti nobis!</p>
            </div>
        </div>
        <div class="coaching-container normal-container">
            <div class="">
                <h2 class="secondary-heading-title">HOW IT WORKS</h2>
            </div>
            <div class="widget">
                <ul class="icon-list">
                    <li>
                        <span class="icon"><i class="fa fa-check-circle"
                                style="font-size:28px;color:green"></i></span>
                        <span class="text">The physical and psychological traits of successful wrestlers.</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa fa-check-circle" style="font-size:28px;color:green"></i></span>
                        <span class="text">Key principles like individualization, variation, sport-specificity, and progressive overload.</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa fa-check-circle" style="font-size:28px;color:green"></i></span>
                        <span class="text">How to build a strong mindset and gain a clear focus.</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa fa-check-circle" style="font-size:28px;color:green"></i></span>
                        <span class="text">How to develop strength, explosive power, and endurance.</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa fa-check-circle" style="font-size:28px;color:green"></i></span>
                        <span class="text">Strategies to maximize athletic gains while minimizing fatigue, burnout, and injury risk.</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa fa-check-circle"
                                style="font-size:28px;color:green"></i></span>
                        <span class="text">Periodization and program design tailored to each phase of the season.</span>
                    </li>
                </ul>
            </div>
            <div class="coach-text text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit id doloribus saepe doloremque amet, repellat consequatur pariatur, suscipit corrupti quidem adipisci accusantium repudiandae dignissimos deleniti molestias repellendus expedita quos neque.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut cum veritatis, pariatur rem dolor eius aperiam perspiciatis dolorem, illum quo repellat ducimus porro, saepe quisquam et vitae odit quam blanditiis!</p>
            </div>
        </div>
        <div class="coaching-container content-boxes">
            <div class="coach-card">
                <div class="card-top">
                    <h4 class="trird-heading-title">Running Mechanics</h4>
                </div>
                <img src="{% static 'assets/images/running-man.jpg' %}" alt="Coach Image" class="card-image">
                <div class="card-bottom">
                    <p class="secondaty-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quod modi et autem corrupti magnam!</p>
                </div>
            </div>
            <div class="coach-card">
                <div class="card-top">
                    <h4 class="trird-heading-title">Running Mechanics again</h4>
                </div>
                <img src="{% static 'assets/images/running-man.jpg' %}" alt="Coach Image" class="card-image">
                <div class="card-bottom">
                    <p class="secondaty-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque adipisci tempora corporis maxime nam!</p>
                </div>
            </div>
            <div class="coach-card">
                <div class="card-top">
                    <h4 class="trird-heading-title">Running Mechanics</h4>
                </div>
                <img src="{% static 'assets/images/running-man.jpg' %}" alt="Coach Image" class="card-image">
                <div class="card-bottom">
                    <p class="secondaty-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, aspernatur!</p>
                </div>
            </div>
        </div>
        <div class="coaching-container">
            <div class="coaching-inner text">
                <div class="widget">
                    <h3 class="secondary-heading-title">COMPETENCY</h3>
                    <ul class="icon-list">
                        <li>
                            <span class="icon"><i class="fa-solid fa-check" style="font-size:28px;color:green"></i></span>
                            <span class="text">The physical and psychological traits of successful wrestlers.</span>
                        </li>
                        <li>
                            <span class="icon"><i class="fa-solid fa-check" style="font-size:28px;color:green"></i></span>
                            <span class="text">Key principles like individualization, variation, sport-specificity, and progressive overload.</span>
                        </li>
                        <li>
                            <span class="icon"><i class="fa-solid fa-check" style="font-size:28px;color:green"></i></span>
                            <span class="text">How to build a strong mindset and gain a clear focus.</span>
                        </li>
                        <li>
                            <span class="icon"><i class="fa-solid fa-check" style="font-size:28px;color:green"></i></span>
                            <span class="text">How to develop strength, explosive power, and endurance.</span>
                        </li>
                        <li>
                            <span class="icon"><i class="fa-solid fa-check" style="font-size:28px;color:green"></i></span>
                            <span class="text">Strategies to maximize athletic gains while minimizing fatigue, burnout, and injury risk.</span>
                        </li>
                        <li>
                            <span class="icon"><i class="fa-solid fa-check" style="font-size:28px;color:green"></i></span>
                            <span class="text">Periodization and program design tailored to each phase of the season.</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="coaching-inner text">
                <div class="widget">
                    <h3 class="secondary-heading-title">TRAINING METHODS</h3>
                    <ul class="icon-list">
                        <li>
                            <span class="icon"><i class="fa-solid fa-dumbbell" style="font-size:28px;color:red"></i></span>
                            <span class="text">The physical and psychological traits of successful wrestlers.</span>
                        </li>
                        <li>
                            <span class="icon"><i class="fa-solid fa-dumbbell" style="font-size:28px;color:red"></i></span>
                            <span class="text">Key principles like individualization, variation, sport-specificity, and progressive overload.</span>
                        </li>
                        <li>
                            <span class="icon"><i class="fa-solid fa-dumbbell" style="font-size:28px;color:red"></i></span>
                            <span class="text">How to build a strong mindset and gain a clear focus.</span>
                        </li>
                        <li>
                            <span class="icon"><i class="fa-solid fa-dumbbell" style="font-size:28px;color:red"></i></span>
                            <span class="text">How to develop strength, explosive power, and endurance.</span>
                        </li>
                        <li>
                            <span class="icon"><i class="fa-solid fa-dumbbell" style="font-size:28px;color:red"></i></span>
                            <span class="text">Strategies to maximize athletic gains while minimizing fatigue, burnout and injury risk.</span>
                        </li>
                        <li>
                            <span class="icon"><i class="fa-solid fa-dumbbell" style="font-size:28px;color:red"></i></span>
                            <span class="text">Periodization and program design tailored to each phase of the season.</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="coaching-container normal-container">
            <h3 class="secondary-heading-title">ATHLETES</h3>
            <p class="text athletes-text-box">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim, nihil? Odit hic labore praesentium itaque, natus dolore. Ullam sequi sint reiciendis odit atque aliquid possimus fugiat delectus libero, omnis quod harum natus maiores numquam! Officia ipsam facere perspiciatis nisi ea eaque sapiente ab autem, a beatae est perferendis quisquam neque.</p>
        </div>
        <div class="coaching-container content-boxes">
            <div class="boxers-card">
                <img src="{% static 'assets/images/boxer.jpg' %}" alt="Coach Image" class="card-image">
                <div class="box-card-top">
                    <h4 class="trird-heading-title">Ivan Dimitrov</h4>
                </div>
                <div class="box-card-bottom">
                    <p class="small-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque adipisci tempora corporis maxime nam!</p>
                </div>
            </div>
            <div class="boxers-card">
                <img src="{% static 'assets/images/boxer.jpg' %}" alt="Coach Image" class="box-card-image">
                <div class="box-card-top">
                    <h4 class="trird-heading-title">Ivan Dimitrov</h4>
                </div>
                <div class="box-card-bottom">
                    <p class="small-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque adipisci tempora corporis maxime nam!</p>
                </div>
            </div>
            <div class="boxers-card">
                <img src="{% static 'assets/images/boxer.jpg' %}" alt="Coach Image" class="card-image">
                <div class="box-card-top">
                    <h4 class="trird-heading-title">Ivan Dimitrov</h4>
                </div>
                <div class="box-card-bottom">
                    <p class="small-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nisi at vel quae delectus ea esse expedita rem nulla officia voluptatibus atque quia optio velit, iste, deserunt nemo blanditiis porro.</p>
                </div>
            </div>
        </div>
        <div class="my-style">
            <h2 class="secondary-heading-title">My coaching style</h2>
            <p class="text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum minima debitis doloribus explicabo. Cum voluptas beatae necessitatibus hic voluptate dolores, doloremque amet sunt quos? Fuga sed quod exercitationem mollitia ex? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates cumque iste officiis recusandae cum, ut, est blanditiis, amet nostrum porro rerum impedit nisi eligendi incidunt possimus dolorum magnam? Laudantium, harum!
            </p>
            <p class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus incidunt perspiciatis, similique autem dolores harum dicta sint quos magni, aperiam ullam blanditiis corrupti assumenda id ducimus alias voluptates quia itaque?
            </p>
            <p class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti maxime neque explicabo minus voluptate architecto aut delectus, ut ea, ex sed hic nihil similique harum voluptatum ducimus officia ipsa facilis.
            </p>
        </div>
    </div>
    
{% endblock %}