<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="assets/styles/styles.css">
</head>

<body>
    <div class="shop-main">
        <div class="shop-container">
            <h2 class="heading-title">ONLINE SHOP</h2>
        </div>
        <div class="shop-section">
            <div class="shop-container text">
                <p class="text">some text</p>
            </div>
            <div class="shop-container">
                <div id="card">
                    <div class="card">
                        <div class="card-image">
                            <img src="assets/images/boxer.jpg" alt="">
                        </div>
                        <div class="card-title">
                            <h2>Boxing</h2>
                        </div>
                        <div class="card-text">
                            <p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis illum maxime quod deserunt eligendi dolor</p>
                        </div>

                        <div class="card-product-price">
                            <p><span>50.99</span>$</p>
                           
                        </div>
                        <div class="card-product-price">
                            <button type="button" >Buy Now</button>
                        </div>   
                    </div>
                </div>
                <div id="card">
                    <div class="card">
                        <div class="card-image">
                            <img src="assets/images/boxing.jpg" alt="">
                        </div>
                        <div class="card-title">
                            <h2>Boxing 2</h2>
                        </div>
                        <div class="card-text">
                            <p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis illum maxime quod deserunt eligendi dolor</p>
                        </div>

                        <div class="card-product-price">
                            <p><span>34.99</span>$</p>
                           
                        </div>
                        <div class="card-product-price">
                            <button type="button" >Buy Now</button>
                        </div>   
                    </div>
                </div>
                <div id="card">
                    <div class="card">
                        <div class="card-image">
                            <img src="assets/images/power-lifting.jpg" alt="">
                        </div>
                        <div class="card-title">
                            <h2>Power Lifting</h2>
                        </div>
                        <div class="card-text">
                            <p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis illum maxime quod deserunt eligendi dolor</p>
                        </div>

                        <div class="card-product-price">
                            <p><span>50.09</span>$</p>
                           
                        </div>
                        <div class="card-product-price">
                            <button type="button" >Buy Now</button>
                        </div>   
                    </div>
                </div>
            </div>
        </div>

        <div class="shop-section">
            <div class="shop-container">
                <div id="card">
                    <div class="card">
                        <div class="card-image">
                            <img src="assets/images/power-lifting.jpg" alt="">
                        </div>
                        <div class="card-title">
                            <h2>Power Lifting</h2>
                        </div>
                        <div class="card-text">
                            <p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis illum maxime quod deserunt eligendi dolor</p>
                        </div>

                        <div class="card-product-price">
                            <p><span>50.99</span>$</p>
                           
                        </div>
                        <div class="card-product-price">
                            <button type="button" >Buy Now</button>
                        </div>   
                    </div>
                </div>
                <div id="card">
                    <div class="card">
                        <div class="card-image">
                            <img src="assets/images/power-lifting.jpg" alt="">
                        </div>
                        <div class="card-title">
                            <h2>Power Lifting</h2>
                        </div>
                        <div class="card-text">
                            <p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis illum maxime quod deserunt eligendi dolor</p>
                        </div>

                        <div class="card-product-price">
                            <p><span>50.99</span>$</p>
                           
                        </div>
                        <div class="card-product-price">
                            <button type="button" >Buy Now</button>
                        </div>   
                    </div>
                </div>
                <div id="card">
                    <div class="card">
                        <div class="card-image">
                            <img src="assets/images/power-lifting.jpg" alt="">
                        </div>
                        <div class="card-title">
                            <h2>Power Lifting</h2>
                        </div>
                        <div class="card-text">
                            <p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis illum maxime quod deserunt eligendi dolor</p>
                        </div>

                        <div class="card-product-price">
                            <p><span>50.99</span>$</p>
                           
                        </div>
                        <div class="card-product-price">
                            <button type="button" >Buy Now</button>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>